In [1]:
import numpy as np
import pandas as pd

data = pd.read_csv("data/NationalNames.csv")

##### 1. Виведіть перші 8 рядків набору даних.

In [2]:
print(data[:8])

   Id       Name  Year Gender  Count
0   1       Mary  1880      F   7065
1   2       Anna  1880      F   2604
2   3       Emma  1880      F   2003
3   4  Elizabeth  1880      F   1939
4   5     Minnie  1880      F   1746
5   6   Margaret  1880      F   1578
6   7        Ida  1880      F   1472
7   8      Alice  1880      F   1414

##### 2. Вивести останні 8 рядків набору даних.

In [3]:
print(data[-8:])

              Id     Name  Year Gender  Count
1825425  1825426       Zo  2014      M      5
1825426  1825427    Zyeir  2014      M      5
1825427  1825428     Zyel  2014      M      5
1825428  1825429   Zykeem  2014      M      5
1825429  1825430   Zymeer  2014      M      5
1825430  1825431  Zymiere  2014      M      5
1825431  1825432    Zyran  2014      M      5
1825432  1825433    Zyrin  2014      M      5

##### 4. Отримайте загальну інформацію про дані у наборі даних.

In [4]:
print(data.describe())

                 Id          Year         Count
count  1.825433e+06  1.825433e+06  1.825433e+06
mean   9.127170e+05  1.972620e+03  1.846879e+02
std    5.269573e+05  3.352891e+01  1.566711e+03
min    1.000000e+00  1.880000e+03  5.000000e+00
25%    4.563590e+05  1.949000e+03  7.000000e+00
50%    9.127170e+05  1.982000e+03  1.200000e+01
75%    1.369075e+06  2.001000e+03  3.200000e+01
max    1.825433e+06  2.014000e+03  9.968000e+04

##### 5. Знайдіть кількість унікальних імен у наборі даних.

In [5]:
print(data["Name"].nunique())

93889

##### 6. Обчисліть кількість унікальних жіночих та чоловічих імен у цілому наборі даних.

In [6]:
print(data.groupby("Gender")["Name"].nunique())

Gender
F    64911
M    39199
Name: Name, dtype: int64

##### 7. Знайдіть 5 найпопулярніших чоловічих імен у 2010 році.

In [7]:
print(data[(data["Year"] == 2010) & (data["Gender"] == "M")].sort_values(by="Count", ascending=False).head(5))

              Id     Name  Year Gender  Count
1677392  1677393    Jacob  2010      M  22082
1677393  1677394    Ethan  2010      M  17985
1677394  1677395  Michael  2010      M  17308
1677395  1677396   Jayden  2010      M  17152
1677396  1677397  William  2010      M  17030

##### 8. Знайдіть найпопулярніше ім’я за результатами одного року (ім’я, для якого Count максимальне)

In [8]:
res = data.sort_values(by="Count", ascending=False).iloc[0]
print(f"The name is '{res['Name']}' in {res['Year']}")

The name is 'Linda' in 1947