In [1]:
import pandas as pd

df = pd.read_csv("data/NationalNames.csv")

##### 1. Виведіть перші 8 рядків набору даних.

In [2]:
res_1 = df[:8]
print(res_1)

   Id       Name  Year Gender  Count
0   1       Mary  1880      F   7065
1   2       Anna  1880      F   2604
2   3       Emma  1880      F   2003
3   4  Elizabeth  1880      F   1939
4   5     Minnie  1880      F   1746
5   6   Margaret  1880      F   1578
6   7        Ida  1880      F   1472
7   8      Alice  1880      F   1414

##### 2. Вивести останні 8 рядків набору даних.

In [3]:
res_2 = df[-8:]
print(res_2)

              Id     Name  Year Gender  Count
1825425  1825426       Zo  2014      M      5
1825426  1825427    Zyeir  2014      M      5
1825427  1825428     Zyel  2014      M      5
1825428  1825429   Zykeem  2014      M      5
1825429  1825430   Zymeer  2014      M      5
1825430  1825431  Zymiere  2014      M      5
1825431  1825432    Zyran  2014      M      5
1825432  1825433    Zyrin  2014      M      5

##### 4. Отримайте загальну інформацію про дані у наборі даних.

In [4]:
res_4 = df.describe()
print(res_4)

                 Id          Year         Count
count  1.825433e+06  1.825433e+06  1.825433e+06
mean   9.127170e+05  1.972620e+03  1.846879e+02
std    5.269573e+05  3.352891e+01  1.566711e+03
min    1.000000e+00  1.880000e+03  5.000000e+00
25%    4.563590e+05  1.949000e+03  7.000000e+00
50%    9.127170e+05  1.982000e+03  1.200000e+01
75%    1.369075e+06  2.001000e+03  3.200000e+01
max    1.825433e+06  2.014000e+03  9.968000e+04

##### 5. Знайдіть кількість унікальних імен у наборі даних.

In [5]:
res_5 = df["Name"].nunique()
print(res_5)

93889

##### 6. Обчисліть кількість унікальних жіночих та чоловічих імен у цілому наборі даних.

In [6]:
res_6 = df.groupby("Gender")["Name"].nunique()
print(res_6)

Gender
F    64911
M    39199
Name: Name, dtype: int64

##### 7. Знайдіть 5 найпопулярніших чоловічих імен у 2010 році.

In [7]:
res_7 = df[(df["Year"] == 2010) & (df["Gender"] == "M")]
res_7 = res_7.sort_values(by="Count", ascending=False).head(5)
print(res_7)

              Id     Name  Year Gender  Count
1677392  1677393    Jacob  2010      M  22082
1677393  1677394    Ethan  2010      M  17985
1677394  1677395  Michael  2010      M  17308
1677395  1677396   Jayden  2010      M  17152
1677396  1677397  William  2010      M  17030

##### 8. Знайдіть найпопулярніше ім’я за результатами одного року (ім’я, для якого ```Count``` максимальне)

In [8]:
res_8 = df.sort_values(by="Count", ascending=False).iloc[0]
print(f"The name is '{res_8['Name']}' in {res_8['Year']}")

The name is 'Linda' in 1947

##### 9. Підрахуйте кількість записів, для яких ```Count``` - мінімальне у наборі.

In [9]:
min_count_value = df["Count"].min()
res_9 = df[df["Count"] == min_count_value].shape[0]
print(res_9)

254615

##### 10. Підрахуйте кількість унікальних імен у кожному році.

In [10]:
res_10 = df.groupby("Year")["Name"].nunique()
print(res_10)

Year
1880     1889
1881     1830
1882     2012
1883     1962
1884     2158
        ...
2010    31603
2011    31418
2012    31236
2013    30774
2014    30579
Name: Name, Length: 135, dtype: int64

##### 11. Знайдіть рік із найбільшою кількістю унікальних імен.

In [11]:
res_11 = res_10[res_10.values == res_10.values.max()]
print(res_11)

Year
2008    32488
Name: Name, dtype: int64

##### 12. Знайдіть найпопулярніше ім’я в році з найбільшою кількістю унікальних імен (тобто у 2008 році).

In [12]:
year = res_11.index[0]
res_12 = df[df["Year"] == year]
res_12 = res_12.sort_values(by="Count", ascending=False)
res_12 = res_12.iloc[0]["Name"]
print(f"'{res_12}'")

'Jacob'

##### 18. Підрахуйте кількість років, коли дівчаток народжувалось більше, ніж хлопчиків.

In [13]:
f_df = df[df["Gender"] == "F"]
m_df = df[df["Gender"] == "M"]
f_by_year = f_df.groupby("Year")["Count"].sum().rename("F_Count")
m_by_year = m_df.groupby("Year")["Count"].sum().rename("M_Count")
f_and_m_by_year = pd.concat([f_by_year, m_by_year], axis=1)
res_18 = f_and_m_by_year[f_and_m_by_year["F_Count"] > f_and_m_by_year["M_Count"]].shape[0]
print(res_18)

54

##### 19. Накресліть графік загальної кількості народжень хлопчиків та дівчаток на рік.

In [14]:
# TODO

##### 20. Підрахуйте кількість гендерно-нейтральних імен (однакових для дівчат та хлопців).

In [15]:
res_20 = df.groupby("Name")
res_20 = res_20.filter(lambda x: ("M" in x["Gender"].values) and ("F" in x["Gender"].values))
res_20 = res_20["Name"].nunique()
print(res_20)

10221

##### 21. Порахуйте, скільки разів хлопчиків називали Barbara.

In [16]:
res_21 = df[(df["Gender"] == "M") & (df["Name"] == "Barbara")]
res_21 = res_21["Count"].sum()
print(res_21)

4139

##### 23. Знати найпопулярніші гендерно-нейтральні імена (ті, що присутні кожного року).

In [17]:
years_list = df["Year"].unique()
res_23 = df.groupby("Name")
res_23 = res_23.filter(lambda x: ("M" in x["Gender"].values) and ("F" in x["Gender"].values))
res_23 = res_23.groupby("Name").filter(lambda x: all((year in x["Year"].values) for year in years_list))
res_23 = res_23["Name"].unique()
print(res_23)

['Mary' 'Anna' 'Emma' 'Elizabeth' 'Minnie' 'Margaret' 'Ida' 'Alice'
 'Bertha' 'Sarah' 'Annie' 'Clara' 'Ella' 'Florence' 'Cora' 'Martha'
 'Laura' 'Nellie' 'Grace' 'Carrie' 'Maude' 'Mabel' 'Bessie' 'Jennie'
 'Gertrude' 'Julia' 'Hattie' 'Edith' 'Mattie' 'Rose' 'Catherine' 'Lillian'
 'Ada' 'Lillie' 'Helen' 'Jessie' 'Louise' 'Ethel' 'Lula' 'Eva' 'Frances'
 'Lena' 'Lucy' 'Edna' 'Maggie' 'Pearl' 'Daisy' 'Fannie' 'Josephine' 'Dora'
 'Rosa' 'Katherine' 'Agnes' 'Marie' 'Nora' 'May' 'Mamie' 'Blanche'
 'Stella' 'Ellen' 'Nancy' 'Effie' 'Sallie' 'Nettie' 'Della' 'Lizzie'
 'Flora' 'Susie' 'Mae' 'Etta' 'Harriet' 'Sadie' 'Caroline' 'Katie' 'Lydia'
 'Elsie' 'Kate' 'Susan' 'Mollie' 'Alma' 'Addie' 'Georgia' 'Eliza' 'Lottie'
 'Amanda' 'Charlotte' 'Rebecca' 'Ruth' 'Viola' 'Olive' 'Amelia' 'Hannah'
 'Jane' 'Virginia' 'Emily' 'Matilda' 'Irene' 'Kathryn' 'Esther' 'Willie'
 'Henrietta' 'Ollie' 'Amy' 'Rachel' 'Sara' 'Estella' 'Theresa' 'Augusta'
 'Ora' 'Pauline' 'Josie' 'Lola' 'Sophia' 'Leona' 'Anne' 'Mildred' 'Ann'
 'Callie' 'Lou' 'Delia' 'Eleanor' 'Barbara' 'Iva' 'Louisa' 'Maria'
 'Evelyn' 'Estelle' 'Nina' 'Betty' 'Marion' 'Dorothy' 'Luella' 'Inez'
 'Lela' 'Rosie' 'Allie' 'Millie' 'Janie' 'Cornelia' 'Victoria' 'Ruby'
 'Winifred' 'Alta' 'Celia' 'Christine' 'Beatrice' 'Mable' 'Myra' 'Sophie'
 'Isabel' 'Sylvia' 'Carolyn' 'Isabelle' 'Leila' 'Sally' 'Ina' 'Nell'
 'Alberta' 'Katharine' 'Lora' 'Rena' 'Mina' 'Rhoda' 'Abbie' 'Eunice' 'Ola'
 'Lenora' 'Christina' 'Sue' 'Johanna' 'Lilly' 'Lucinda' 'Roxie' 'Cynthia'
 'Hilda' 'Bernice' 'Genevieve' 'Jean' 'Marian' 'Francis' 'Jeanette'
 'Adeline' 'Leah' 'Lois' 'Hallie' 'Isabella' 'Olga' 'Phoebe' 'Teresa'
 'Lina' 'Winnie' 'Claudia' 'Marguerite' 'Vera' 'Cecelia' 'Bess' 'Emilie'
 'John' 'Rosetta' 'Verna' 'Cecilia' 'Elva' 'Olivia' 'Ophelia' 'Georgie'
 'Elnora' 'Violet' 'Adele' 'Lily' 'Loretta' 'Polly' 'Eugenia' 'Lucille'
 'Rosalie' 'Angie' 'Dessie' 'Lila' 'Regina' 'Selma' 'Wilhelmina' 'Bridget'
 'Freda' 'Jeannette' 'Mandy' 'Roberta' 'Cassie' 'Corinne' 'Ivy' 'Melissa'
 'Naomi' 'Norma' 'Margie' 'Elvira' 'Erma' 'Irma' 'William' 'Charity'
 'Lorena' 'Alvina' 'Annette' 'Elma' 'Geneva' 'Janet' 'Lee' 'Leora' 'Lona'
 'Miriam' 'Linda' 'Octavia' 'Alpha' 'George' 'Joanna' 'Priscilla'
 'Angeline' 'Hanna' 'Rosella' 'Elisabeth' 'Elise' 'Goldie' 'Juanita'
 'Nola' 'Zoe' 'Isabell' 'James' 'Julie' 'Madeline' 'Mariah' 'Vivian'
 'Claire' 'Dolly' 'Hazel' 'Jannie' 'Kathleen' 'Ona' 'Samantha' 'Chloe'
 'Donnie' 'Elsa' 'Gladys' 'Antoinette' 'Magdalena' 'Rita' 'Antonia'
 'Gracie' 'Iona' 'Liza' 'Molly' 'Neva' 'Alva' 'Cecile' 'Cleo' 'Donna'
 'Ellie' 'Evie' 'Frankie' 'Queen' 'Savannah' 'Tessie' 'Tina' 'America'
 'Anita' 'Dorothea' 'Ira' 'Marjorie' 'Sidney' 'Velma' 'Clare' 'Constance'
 'Dixie' 'Ila' 'Jimmie' 'Lucia' 'Patsy' 'Betsy' 'Bonnie' 'Cecil' 'June'
 'Louie' 'Lovie' 'Marcella' 'Melinda' 'Mona' 'Odessa' 'Veronica' 'Aimee'
 'Ava' 'Bella' 'Carolina' 'Clyde' 'Dena' 'Dolores' 'Fay' 'Frank' 'Jenny'
 'Lonnie' 'Reba' 'Serena' 'Vida' 'Abigail' 'Celina' 'Connie' 'Deborah'
 'Eddie' 'India' 'Jeanne' 'Joan' 'Lenore' 'Nevada' 'Rachael' 'Willa'
 'Aline' 'Charles' 'Eloise' 'Henry' 'Iris' 'Robert' 'Therese' 'Wanda'
 'Anastasia' 'Claude' 'Diana' 'Fern' 'Joseph' 'Paulina' 'Rae' 'Sena'
 'Tommie' 'Althea' 'Angelina' 'Annabelle' 'Clarice' 'Corrie' 'Doris'
 'Elda' 'Fred' 'Hope' 'Johnnie' 'Marcia' 'Norah' 'Paula' 'Bennie'
 'Camille' 'Faye' 'Leslie' 'Ray' 'Shirley' 'Thomas' 'Walter' 'Amie'
 'Angela' 'Clarence' 'Geraldine' 'Glenna' 'Jessica' 'Lea' 'Leanna'
 'Muriel' 'Rosanna' 'Theo' 'Ara' 'Augustine' 'Camilla' 'Carey' 'Clifford'
 'Harry' 'Lacy' 'Leo' 'Merle' 'Phyllis' 'Arthur' 'Clair' 'Delphine'
 'Edgar' 'Glenn' 'Isa' 'Jesse' 'Jewel' 'Joe' 'Juana' 'Judith' 'Louis'
 'Lynn' 'Manuela' 'Natalie' 'Opal' 'Selena' 'Wilma' 'Edward' 'Albert'
 'Samuel' 'David' 'Charlie' 'Richard' 'Andrew' 'Daniel' 'Ernest' 'Will'
 'Oscar' 'Lewis' 'Peter' 'Benjamin' 'Frederick' 'Alfred' 'Sam' 'Roy'
 'Herbert' 'Jacob' 'Tom' 'Elmer' 'Carl' 'Howard' 'Martin' 'Michael' 'Bert'
 'Herman' 'Jim' 'Harvey' 'Earl' 'Eugene' 'Ralph' 'Edwin' 'Ben' 'Charley'
 'Paul' 'Isaac' 'Otto' 'Luther' 'Lawrence' 'Patrick' 'Guy' 'Oliver'
 'Theodore' 'Hugh' 'Alexander' 'August' 'Floyd' 'Homer' 'Jack' 'Leonard'
 'Horace' 'Philip' 'Allen' 'Archie' 'Stephen' 'Chester' 'Willis' 'Raymond'
 'Rufus' 'Warren' 'Milton' 'Alex' 'Julius' 'Bernard' 'Dan' 'Jerry'
 'Calvin' 'Perry' 'Dave' 'Anthony' 'Amos' 'Dennis' 'Leroy' 'Wesley'
 'Alonzo' 'Franklin' 'Emil' 'Leon' 'Nathan' 'Harold' 'Matthew' 'Levi'
 'Moses' 'Everett' 'Lester' 'Adam' 'Lloyd' 'Mack' 'Fredrick' 'Jay' 'Jess'
 'Melvin' 'Noah' 'Aaron' 'Alvin' 'Norman' 'Gilbert' 'Elijah' 'Victor'
 'Gus' 'Nelson' 'Jasper' 'Silas' 'Jake' 'Christopher' 'Mike' 'Percy'
 'Maurice' 'Cornelius' 'Felix' 'Reuben' 'Wallace' 'Roscoe' 'Sylvester'
 'Earnest' 'Otis' 'Simon' 'Willard' 'Irvin' 'Mark' 'Jose' 'Wilbur'
 'Abraham' 'Virgil' 'Clinton' 'Elbert' 'Marshall' 'Owen' 'Wiley' 'Anton'
 'Morris' 'Manuel' 'Phillip' 'Augustus' 'Emmett' 'Eli' 'Nicholas' 'Wilson'
 'Harley' 'Newton' 'Timothy' 'Marvin' 'Ross' 'Curtis' 'Edmund' 'Jeff'
 'Elias' 'Harrison' 'Stanley' 'Russell' 'Solomon' 'Asa' 'Clayton' 'Irving'
 'Mathew' 'Nathaniel' 'Scott' 'Hubert' 'Andy' 'Ellis' 'Emanuel' 'Joshua'
 'Vernon' 'Wade' 'Cyrus' 'Miles' 'Rudolph' 'Sherman' 'Austin' 'Bill'
 'Monroe' 'Byron' 'Emery' 'Grant' 'Jerome' 'Max' 'Mose' 'Steve' 'Gordon'
 'Pete' 'Chris' 'Clark' 'Orville' 'Lorenzo' 'Bruce' 'Marcus' 'Preston'
 'Bob' 'Donald' 'Jackson' 'Delbert' 'Edmond' 'Anderson' 'Christian' 'Luke'
 'Neal' 'Myron' 'Tony' 'Conrad' 'Joel' 'Matt' 'Riley' 'Vincent' 'Emory'
 'Isaiah' 'Nick' 'Ezra' 'Juan' 'Clifton' 'Porter' 'Arnold' 'Jeremiah'
 'Taylor' 'Forrest' 'Roland' 'Spencer' 'Burton' 'Don' 'Morgan' 'Ned' 'Van'
 'Chauncey' 'Elisha' 'Julian' 'Kenneth' 'Mitchell' 'Napoleon' 'Pedro'
 'Ervin' 'Forest' 'Ruben' 'Ward' 'Douglas' 'Omer' 'Ulysses' 'Walker'
 'Wilbert' 'Ivan' 'Jonas' 'Major' 'Caleb' 'Clint' 'Dudley' 'King'
 'Antonio' 'Carroll' 'Freeman' 'Josiah' 'Milo' 'Royal' 'Emerson'
 'Fletcher' 'Laurence' 'Neil' 'Roger' 'Seth' 'Glen' 'Hugo' 'Elwood'
 'Harmon' 'Wayne' 'Wilber' 'Evan' 'Irwin' 'Lafayette' 'Loren' 'Mason'
 'Aubrey' 'Elliott' 'Hans' 'Karl' 'Wilfred' 'Allan' 'Dallas' 'Isiah'
 'Jason' 'Johnny' 'Lawson' 'Micheal' 'Orin' 'Addison' 'Francisco' 'Hardy'
 'Lucien' 'Randolph' 'Stewart' 'Wilmer' 'Adrian' 'Clay' 'Grover' 'Harris'
 'Jesus' 'Johnie' 'Jonathan' 'Lucian' 'Malcolm' 'Merritt' 'Sandy' 'Tomas'
 'Carlos' 'Cary' 'Davis' 'Israel' 'Murray' 'Sterling' 'Steven' 'Boyd'
 'Bryant' 'Clement' 'Erwin' 'Ezekiel' 'Foster' 'Houston' 'Issac' 'Jules'
 'Orlando' 'Pierce' 'Prince' 'Stuart' 'Bennett' 'Christ' 'Gabriel' 'Smith'
 'Wyatt' 'Alton' 'Dean' 'Omar' 'Parker' 'Raleigh' 'Reginald' 'Carlton'
 'Garrett' 'Johnson' 'Larry' 'Logan' 'Merrill' 'Oren' 'Rex' 'Rodney' 'Ted'
 'Al' 'Art' 'Bailey' 'Coleman' 'Dana' 'Dwight' 'Emile' 'Luis' 'Norris'
 'Phil' 'Sol' 'Sydney' 'Tim' 'Truman' 'Basil' 'Cleveland' 'Garland'
 'Gerald' 'Lindsey' 'Olin' 'Rolland' 'Turner' 'Williams' 'Elvin' 'Eric'
 'Hosea' 'Noel' 'Valentine' 'Warner' 'Abel' 'Alden' 'Avery' 'Leland'
 'Ramon' 'Aron' 'Buster' 'Harlan' 'Lenard' 'Price' 'Shelby' 'Thurman'
 'Troy' 'Gene' 'Hal' 'Hollis' 'Lyle' 'Miller' 'Vance' 'Levy' 'Noble'
 'Rupert' 'Thad' 'Kelly' 'Tommy']

##### 25. Побудувати графіки розподілення кількості імен John та Mary по роках без залежності до статі.

In [18]:
# TODO

##### 27. Знайти найпопулярніші імена в кожному році.

###### Враховуючи лише стать з більшою кількістю для кожного імені:

In [19]:
res_27_1 = df.groupby("Year")
res_27_1 = res_27_1.apply(lambda x: x.sort_values(by="Count", ascending=False).head(1))
res_27_1 = res_27_1[["Year", "Name", "Count"]].set_index("Year")
print(res_27_1)

          Name  Count
Year
1880      John   9655
1881      John   8769
1882      John   9557
1883      John   8894
1884      John   9388
...        ...    ...
2010  Isabella  22883
2011    Sophia  21816
2012    Sophia  22267
2013    Sophia  21147
2014      Emma  20799

[135 rows x 2 columns]

###### Сумуючи обидві статі для кожного імені:

In [20]:
res_27_2 = df.groupby(["Year", "Name"]).sum().reset_index()
res_27_2 = res_27_2.groupby("Year").apply(lambda x: x.sort_values(by="Count", ascending=False).head(1))
res_27_2 = res_27_2[["Year", "Name", "Count"]].set_index("Year")
print(res_27_2)

          Name  Count
Year
1880      John   9701
1881      John   8795
1882      John   9597
1883      John   8934
1884      John   9428
...        ...    ...
2010  Isabella  22913
2011    Sophia  21839
2012    Sophia  22285
2013    Sophia  21172
2014      Emma  20811

[135 rows x 2 columns]